In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/segments/part.csv',header=None)

In [3]:
country={
      "36" : "Australia",
      "784" : "UAE",
      "682" : "Saudi Arabia",
      "414" : "Kuwait",
      "512" : "Oman",
      "48" : "Bahrain",
      "400" : "Jordan",
      "364" : "Iran",
      "504" : "Morocco",
      "12" : "Algeria",
      "788" : "Tunisia",
      "760" : "Syria",
      "586" : "Pakistan",
      "887" : "Yemen",
      "634" : "Qatar",
      "56" : "Belgium",
      "250" : "France",
      "724" : "Spain",
      "528" : "Netherlands",
      "203" : "Czech",
      "792" : "Turkey",
      "642" : "Romania",
      "458" : "Malaysia",
      "702" : "Singapore",
      "356" : "India",
      "764" : "Thailand",
      "704" : "Vietnam",
      "608" : "Philippines",
      "710" : "South Africa",
      "422" : "Lebanon",
      "368" : "Iraq",
      "376" : "Israel",
      "116" : "Cambodia",
      "818" : "Egypt",
      "434" : "Libya",
      "478" : "Mauritania",
      "4" : "Afghanistan",
      "344" : "Hong Kong",
      "804" : "Ukraine",
      "360" : "Indonesia",
      "156" : "China",
      "410" : "South Korea",
      "408" : "North Korea",
      "392" : "Japan",
      "496" : "Mongolia",
      "124" : "Canada",
      "840" : "USA",
      "826" : "UK",
      "144" : "Sri Lanka",
      "566" : "Nigeria",
      "404" : "Kenya",
      "554" : "New Zealand",
      "275" : "Palestine",
      "484" : "Mexico",
      "76" : "Brazil",
      "170" : "Colombia",
      "32" : "Argentina",
      "152" : "Chile",
      "604" : "Peru",
      "862" : "Venezuela",
      "218" : "Ecuador",
      "68" : "Bolivia",
      "600" : "Paraguay",
      "858" : "Uruguay",
      "158" : "Taiwan",
      "729" : "Sudan",
      "276" : "Germany",
      "300" : "Greece",
      "380" : "Italy",
      "288" : "Ghana",
      "834" : "Tanzania",
      "231" : "Ethiopia",
      "716" : "Zimbabwe",
      "894" : "Zambia",
      "270" : "Gambia",
      "454" : "Malawi",
      "208" : "Denmark",
      "578" : "Norway",
      "246" : "Finland",
      "50" : "Bangladesh",
      "372" : "Ireland",
      "756" : "Switzerland",
      "752" : "Sweden",
      "192" : "Cuba",
      "388" : "Jamaica",
      "643" : "Russia",
      "70" : "Bosnia-Herzegovina",
      "40" : "Austria",
      "620" : "Portugal",
      "516" : "Namibia",
      "72" : "Botswana",
      "800" : "Uganda",
      "728" : "South Sudan",
      "703" : "Slovakia",
      "348" : "Hungary",
      "266" : "Gabon",
      "508" : "Mozambique",
      "24" : "Angola",
      "120" : "Cameroon",
      "384" : "CoteDIvore",
      "96" : "Brunei",
      "426" : "Lesotho",
      "430" : "Liberia",
      "450" : "Madagascar",
      "466" : "Mali",
      "480" : "Mauritius",
      "562" : "Niger",
      "646" : "Rwanda",
      "686" : "Senegal",
      "706" : "Somalia",
      "748" : "Swaziland",
      "180" : "Congo Dem Rep",
      "178" : "Congo",
      "148" : "Chad",
      "690" : "Seychelles",
      "232" : "Eritrea",
      "694" : "Sierra Leone",
      "768" : "Togo"
      }

In [7]:
new_country={int(k):v for k,v in country.items()}
new_country

{4: 'Afghanistan',
 12: 'Algeria',
 24: 'Angola',
 32: 'Argentina',
 36: 'Australia',
 40: 'Austria',
 48: 'Bahrain',
 50: 'Bangladesh',
 56: 'Belgium',
 68: 'Bolivia',
 70: 'Bosnia-Herzegovina',
 72: 'Botswana',
 76: 'Brazil',
 96: 'Brunei',
 116: 'Cambodia',
 120: 'Cameroon',
 124: 'Canada',
 144: 'Sri Lanka',
 148: 'Chad',
 152: 'Chile',
 156: 'China',
 158: 'Taiwan',
 170: 'Colombia',
 178: 'Congo',
 180: 'Congo Dem Rep',
 192: 'Cuba',
 203: 'Czech',
 208: 'Denmark',
 218: 'Ecuador',
 231: 'Ethiopia',
 232: 'Eritrea',
 246: 'Finland',
 250: 'France',
 266: 'Gabon',
 270: 'Gambia',
 275: 'Palestine',
 276: 'Germany',
 288: 'Ghana',
 300: 'Greece',
 344: 'Hong Kong',
 348: 'Hungary',
 356: 'India',
 360: 'Indonesia',
 364: 'Iran',
 368: 'Iraq',
 372: 'Ireland',
 376: 'Israel',
 380: 'Italy',
 384: 'CoteDIvore',
 388: 'Jamaica',
 392: 'Japan',
 400: 'Jordan',
 404: 'Kenya',
 408: 'North Korea',
 410: 'South Korea',
 414: 'Kuwait',
 422: 'Lebanon',
 426: 'Lesotho',
 430: 'Liberia',
 434: 'Libya',
 450: 'Madagascar',
 454: 'Malawi',
 458: 'Malaysia',
 466: 'Mali',
 478: 'Mauritania',
 480: 'Mauritius',
 484: 'Mexico',
 496: 'Mongolia',
 504: 'Morocco',
 508: 'Mozambique',
 512: 'Oman',
 516: 'Namibia',
 528: 'Netherlands',
 554: 'New Zealand',
 562: 'Niger',
 566: 'Nigeria',
 578: 'Norway',
 586: 'Pakistan',
 600: 'Paraguay',
 604: 'Peru',
 608: 'Philippines',
 620: 'Portugal',
 634: 'Qatar',
 642: 'Romania',
 643: 'Russia',
 646: 'Rwanda',
 682: 'Saudi Arabia',
 686: 'Senegal',
 690: 'Seychelles',
 694: 'Sierra Leone',
 702: 'Singapore',
 703: 'Slovakia',
 704: 'Vietnam',
 706: 'Somalia',
 710: 'South Africa',
 716: 'Zimbabwe',
 724: 'Spain',
 728: 'South Sudan',
 729: 'Sudan',
 748: 'Swaziland',
 752: 'Sweden',
 756: 'Switzerland',
 760: 'Syria',
 764: 'Thailand',
 768: 'Togo',
 784: 'UAE',
 788: 'Tunisia',
 792: 'Turkey',
 800: 'Uganda',
 804: 'Ukraine',
 818: 'Egypt',
 826: 'UK',
 834: 'Tanzania',
 840: 'USA',
 858: 'Uruguay',
 862: 'Venezuela',
 887: 'Yemen',
 894: 'Zambia'}

In [8]:
df.columns=['interest','country','count']

In [10]:
df['country']=df['country'].map(new_country)
df.head(5)

   interest country  count
0      1774   Japan  91335
1      1779   Japan  23670
2      1792   Japan  16620
3      1803  Israel  24135
4      1803  Kuwait  14655

In [11]:
import json

In [12]:
with open('datasets/segments/interest_attr_groups.json','r') as input:
    interests = json.load(input)

In [14]:
interests_dict={}
for i in interests:
    interests_dict[i['id']]=i['name']
    if 'attributes' in i:
        for j in i['attributes']:
            interests_dict[j['id']]=j['name']

In [18]:
df['interest']=df['interest'].map(interests_dict)

In [23]:
df.sort_values('count',ascending=False,inplace=True)

In [25]:
df.to_csv('datasets/segments/result.csv')

In [30]:
res=df.pivot_table(values='count',index='interest',columns='country')

In [31]:
res.to_csv('datasets/segments/pivot_result.csv')