In [1]:
import tensorflow as tf

In [2]:
x=tf.Variable(3,name='X')
y=tf.Variable(4,name='Y')
f=x*x*y+y+2

In [3]:
with tf.Session() as sess:
    x.initializer.run()
    y.initializer.run()
    result=f.eval()
print(result)

42

In [4]:
init=tf.global_variables_initializer()
with tf.Session() as sess:
    init.run()
    result=f.eval()
print(result)

42

In [5]:
import numpy as np
import pandas as pd

In [6]:
housing = pd.read_csv('housing.csv')
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
target=housing['median_house_value']

In [8]:
del housing['median_house_value']

In [9]:
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [10]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [11]:
X=housing.iloc[:,:-1].fillna(method='backfill').values
y=target.values.reshape(-1,1)
X1=np.c_[np.ones((X.shape[0],1)),ss.fit_transform(X)]

In [12]:
tfX=tf.constant(X1,dtype=tf.float64,name='X')
tfY=tf.constant(y,dtype=tf.float64,name='y')
XT=tf.transpose(tfX)
tfTheta=tf.matmul(tf.matmul(tf.matrix_inverse(tf.matmul(XT,tfX)),XT),y)
with tf.Session() as sess:
    theta=tfTheta.eval()
theta

array([[206855.81690891],
       [-85279.35799862],
       [-90670.39673847],
       [ 14405.10084308],
       [-13348.99688583],
       [ 30956.42325003],
       [-45460.792402  ],
       [ 32662.63403217],
       [ 75214.40606396]])

In [13]:
tfX=tf.constant(X1,dtype=tf.float32,name='X')
tfY=tf.constant(y,dtype=tf.float32,name='y')
tfTheta=tf.Variable(tf.random_uniform([X1.shape[1],1],-1.0,1.0),name='theta')
y_pred=tf.matmul(tfX,tfTheta,name='prediction')
error=y_pred-y
mse=tf.reduce_mean(tf.square(error),name='mse')
epoch=1000
learning_rate=0.1
gradient=2.0/X1.shape[0]*tf.matmul(tf.transpose(tfX),error)
training_op=tf.assign(tfTheta,tfTheta-learning_rate*gradient)
init=tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    for i in range(epoch):
        if i % 100 == 0:
            print("Epoch: ",i," MSE:",mse.eval())
        sess.run(training_op)
    result=tfTheta.eval()
print(result)

('Epoch: ', 0, ' MSE:', 56104858000.0)
('Epoch: ', 100, ' MSE:', 4920144000.0)
('Epoch: ', 200, ' MSE:', 4860424700.0)
('Epoch: ', 300, ' MSE:', 4856122400.0)
('Epoch: ', 400, ' MSE:', 4855631000.0)
('Epoch: ', 500, ' MSE:', 4855553500.0)
('Epoch: ', 600, ' MSE:', 4855540000.0)
('Epoch: ', 700, ' MSE:', 4855532500.0)
('Epoch: ', 800, ' MSE:', 4855532500.0)
('Epoch: ', 900, ' MSE:', 4855531500.0)
[[206855.78 ]
 [-85271.305]
 [-90663.43 ]
 [ 14405.125]
 [-13342.389]
 [ 30904.738]
 [-45473.32 ]
 [ 32719.516]
 [ 75212.76 ]]

In [14]:
tfX=tf.constant(X1,dtype=tf.float32,name='X')
tfY=tf.constant(y,dtype=tf.float32,name='y')
tfTheta=tf.Variable(tf.random_uniform([X1.shape[1],1],-1.0,1.0),name='theta')
y_pred=tf.matmul(tfX,tfTheta,name='prediction')
error=y_pred-y
mse=tf.reduce_mean(tf.square(error),name='mse')
epoch=1000
learning_rate=0.1
op=tf.train.GradientDescentOptimizer(learning_rate=learning_rate)
init=tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    training_op=op.minimize(mse)
    sess.run(training_op)
    result=tfTheta.eval()
    print(mse.eval())
print(result)

38164374000.0
[[41371.25   ]
 [-1060.9597 ]
 [-3326.8206 ]
 [ 2436.9744 ]
 [ 3095.8718 ]
 [ 1168.7948 ]
 [ -568.02234]
 [ 1519.1268 ]
 [15880.5205 ]]

In [39]:
from datetime import datetime
now = datetime.utcnow().strftime("%Y%m%d%H%M%S")
log_root='tf_logs'
log_dir='{}/run-{}'.format(log_root,now)
tf.reset_default_graph()
def fetch_data(index,delta,X1,y):
    start=index*delta
    end=np.min([start+delta,X1.shape[0]-1])
    return (X1[start:end,:],y[start:end,:])
tfX=tf.placeholder(tf.float32,shape=(None,X1.shape[1]),name='X')
tfY=tf.placeholder(tf.float32,shape=(None,1),name='y')
tfTheta=tf.Variable(tf.random_uniform([X1.shape[1],1],-1.0,1.0),name='theta')
y_pred=tf.matmul(tfX,tfTheta,name='prediction')
with tf.name_scope("loss") as scope:
    error=y_pred-tfY
    mse=tf.reduce_mean(tf.square(error),name='mse')
learning_rate=0.1
op=tf.train.GradientDescentOptimizer(learning_rate=learning_rate)
init=tf.global_variables_initializer()
batch=100
loop=X1.shape[0]/batch
saver = tf.train.Saver()
mse_summary=tf.summary.scalar('MSE',mse)
file_writer=tf.summary.FileWriter(log_dir,tf.get_default_graph())
with tf.Session() as sess:
    sess.run(init)
    training_op=op.minimize(mse)
    for i in range(loop):
        X_batch,y_batch=fetch_data(i,batch,X1,y)
        sess.run(training_op,feed_dict={tfX:X_batch,tfY:y_batch})
        if i%200==0:
            saver.save(sess,'models/lm.ckpt')
            summary_str=mse_summary.eval({tfX:X_batch,tfY:y_batch})
            file_writer.add_summary(summary_str,i)
    result=tfTheta.eval()
    saver.save(sess,'models/lm_final.ckpt')
print(result)
file_writer.close()

[[193539.98   ]
 [-55770.066  ]
 [-66341.97   ]
 [   488.85645]
 [  5063.8545 ]
 [ 16820.951  ]
 [-35865.77   ]
 [ 26111.553  ]
 [ 60331.445  ]]